contourpy==1.2.1
cycler==0.12.1
fonttools==4.53.0
kiwisolver==1.4.5
matplotlib==3.9.0
numpy==2.0.0
packaging==24.1
pillow==10.3.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
six==1.16.0



# Instalar virtualenv si es necesario
pip install virtualenv

# Crear un entorno virtual
virtualenv env

# Activar el entorno virtual
# Windows (cmd)
.\env\Scripts\activate
# Windows (PowerShell)
.\env\Scripts\Activate.ps1
# Unix o macOS
source env/bin/activate

# Instalar librerías necesarias
pip install matplotlib numpy

# Crear archivo requirements.txt (opcional)
pip freeze > requirements.txt
